@*@model IEnumerable<AspNetExtendingIdentityRoles.Models.Message>*@
@model PagedList.IPagedList<AspNetExtendingIdentityRoles.Models.Message>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "MessagesReceived";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/formContainer.css")

<link href="~/Content/toolkit2.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/entypo" type="text/css" />




<style>
    .media-list-conversation .media-body-text {
       
        max-width: 500px;
    }

  

    input[type=text] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: .3s;
    }

        input[type=text]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }

    .navbar-inverse{
        background-color:black;
        border-color:black;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<h2 style="color: #ffffff;">MessagesReceived</h2>




    @using (Html.BeginForm("IndexReceiver", "Messages", FormMethod.Post))
    {
        <div>
            Find messages by sender name @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input id="Search" type="submit" value="Filter" />
        </div>
    }

    <p></p><p></p>



        @foreach (var item in Model)
        {
            

        if (item.DeletedBySender == true)
        {
            <ul class="media-list media-list-conversation c-w-md">
                <li class="media mb-4">
                    <a class="media-left">
                    <img class="rounded-circle media-object mr-3" src="~/Content/image.png" alt="Itallian fatty">
                    </a>
                    <div class="media-body">
                        <div class="media-body-text">
                            <span class="icon icon-circle-with-cross"></span> <strong>This message has been deleted by @item.Sender.UserName !!!</strong>
                        </div>
                    </div>
            </ul>

        }

        else if (item.DeletedByReceiver == true)
        {
            <del>@Html.DisplayFor(modelItem => item.MessageBody)</del>
        }


        else if (item.IsRead == false)
        {
            <ul class="media-list media-list-conversation c-w-md">
                <li class="media m-b-md">
                    <a class="media-left">
                        <img class="img-circle media-object" src="~/Content/minaj.jpg" alt="Itallian fatty">
                    </a>


                    @using Microsoft.AspNet.Identity

                    @if (item.Sender.UserName == User.Identity.GetUserName())
                    {
                        <div class="media-body">
                            <div class="media-body-text" style="background-color:#4477FF;">
                                <span class="icon icon-cloud"></span> @Html.DisplayFor(modelItem => item.MessageBody)
                            </div>
                            <div class="media-footer">
                                <small class="text-muted">
                                    from @Html.DisplayFor(modelItem => item.Sender.UserName) to
                                    @Html.DisplayFor(modelItem => item.Receiver.UserName) at @Html.DisplayFor(modelItem => item.DateSent)
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
                                </small>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="media-body">
                            <div class="media-body-text" style="background-color:#4cff00;">
                                <span class="icon icon-cloud"></span> @Html.DisplayFor(modelItem => item.MessageBody)
                            </div>
                            <div class="media-footer">
                                <small class="text-muted">
                                    from @Html.DisplayFor(modelItem => item.Sender.UserName) to
                                    @Html.DisplayFor(modelItem => item.Receiver.UserName) at @Html.DisplayFor(modelItem => item.DateSent)
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
                                </small>
                            </div>
                        </div>
                    }



                </li>
            </ul>

        }

        else if (item.IsRead == true)
        {

            <ul class="media-list media-list-conversation c-w-md">
                <li class="media m-b-md">
                    <a class="media-left">
                        <img class="img-circle media-object" src="~/Content/minaj.jpg" alt="Itallian fatty">
                    </a>

                    @using Microsoft.AspNet.Identity

                    @if (item.Sender.UserName == User.Identity.GetUserName())
                    {
                        <div class="media-body">
                            <div class="media-body-text" style="background-color:#4477FF;">

                                <span class="icon icon-icloud"></span>  @Html.DisplayFor(modelItem => item.MessageBody) @*<span class="icon icon-chat"></span>*@

                            </div>
                            <div class="media-footer">
                                <small class="text-muted">
                                    from @Html.DisplayFor(modelItem => item.Sender.UserName) to
                                    @Html.DisplayFor(modelItem => item.Receiver.UserName) at @Html.DisplayFor(modelItem => item.DateSent)
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
                                </small>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="media-body">
                            <div class="media-body-text" style="background-color:#4cff00;">

                                <span class="icon icon-icloud"></span>  @Html.DisplayFor(modelItem => item.MessageBody) @*<span class="icon icon-chat"></span>*@

                            </div>
                            <div class="media-footer">
                                <small class="text-muted">
                                    from @Html.DisplayFor(modelItem => item.Sender.UserName) to
                                    @Html.DisplayFor(modelItem => item.Receiver.UserName) at @Html.DisplayFor(modelItem => item.DateSent)
                                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
                                </small>
                            </div>
                        </div>
                    }









                </li>
            </ul>
            }

        }
    


    @*<div class="card card-link-list">*@
        <div class="card-block">
            Messages Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("IndexReceiver",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    @*</div>*@





