@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@


@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/formContainer.css")


@Styles.Render("~/Content/formContainer.css")
@Styles.Render("~/Content/teamStyle.css")

<style>
    body {
        top: 5%;
        overflow: auto;
        /*color: #907e7e;*/
        color: #ffffff;
    }
</style>

@*<style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.428571429;
            color: ##b76a6a;
            background-color: #ffffff;
        }
    </style>*@



<div class="messagecontainer">



    <h1 style="text-align:center;">Meet the team</h1>


    <section>
        <div class="container">
            <div class="row flex-center sm-no-flex">

                <div class="pull-right sm-no-float col-md-8" style="left:11%;">
                    <ul class="team-members">
                        <!-- single member row starts -->
                        <li class="clearfix" style="list-style-type: none;">
                            <div class="member-details">

                                <div>
                                    <img src="~/Content/teamPhotos/LeonidasG.jpg" alt="UI Designer">
                                    <div class="member-info">
                                        <h3 style="font-size: 1vw; bottom:30px;">Guri Leonidas</h3>
                                        @*<p style="font-size: 11px; right:4px;">Team Leader</p>*@
                                    </div>
                                </div>
                            </div>



                            <div class="member-details">
                                <div>
                                    <img src="~/Content/teamPhotos/Afroditi.jpg" alt="UI Designer">
                                    <div class="member-info">
                                        <h3 style="font-size: 1vw; bottom:30px;">Flora Afroditi</h3>
                                        @*<p>UI Designer</p>*@
                                    </div>
                                </div>
                            </div>
                        </li><!-- /single member row ends -->
                        <!-- single member row starts -->
                        <li class="clearfix" style="list-style-type: none;">
                            <div class="member-details">
                                <div>
                                    <img src="~/Content/teamPhotos/Vasilis.jpg" alt="UI Designer">
                                    <div class="member-info">
                                        <h3 style="font-size: 1vw; bottom:30px;">Iliakos Vasileios</h3>
                                        @*<p>UI Designer</p>*@
                                    </div>
                                </div>
                            </div>



                            <div class="member-details">
                                <div>
                                    <img src="~/Content/teamPhotos/LeonidasV.jpg" alt="UI Designer">
                                    <div class="member-info">
                                        <h3 style="font-size: 1vw; bottom:30px;">Leonidas Voulgaris</h3>
                                        @*<p>UI Designer</p>*@
                                    </div>
                                </div>
                            </div>
                        </li><!-- /single member row ends -->
                        <!-- single member row starts -->
                        <li class="clearfix" style="list-style-type: none;">
                            <div class="member-details">
                                <div>
                                    <img src="~/Content/teamPhotos/Anastasis.jpg" alt="UI Designer">
                                    <div class="member-info">
                                        <h3 style="font-size: 1vw; bottom:30px;">Zias Anastasios</h3>
                                        @*<p>UI Designer</p>*@
                                    </div>
                                </div>
                            </div>




                        </li><!-- /single member row ends -->

                    </ul><!-- /end team-photos -->
                </div><!-- /end col-md-8 -->

                <div class="pull-left col-md-4 sm-text-center">
                    <div class="team-overview">
                        <h2>Who Are We?</h2>
                        @*<a href="#">Meet the Entire Team</a>*@
                        <p></p><div>
                            <ul>
                                <li>Guri Leonidas</li>
                                <li>Flora Afroditi</li>
                                <li>Iliakos Vasileios</li>
                                <li>Voulgaris Leonidas</li>
                                <li>Zias Anastasios</li>
                            </ul>
                        </div><p></p>
                    </div>
                </div><!-- /end col-md-4 -->
            </div><!-- /end row -->
        </div><!-- /end container -->
    </section>






    <link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/s3downbar.css?googleapis"><link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/contextmenu.css?googleapis"><link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/tooltip.css?googleapis">


    <link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/s3downbar.css?googleapis"><link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/contextmenu.css?googleapis"><link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/tooltip.css?googleapis">


    <link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/s3downbar.css?googleapis"><link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/contextmenu.css?googleapis"><link rel="stylesheet" type="text/css" href="moz-extension://8bd62e17-7fe3-428b-ad96-9df6e05bec3f/skin/tooltip.css?googleapis">


    <div>
        <img src="~/Content/razor blades Logo final 001 - transparent 2.png" width="12%" style="margin-left: 44%; margin-right:50%;" />


    </div>


</div>






